.side-bar {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 55px;
  width: 72px;
  z-index: 200;
  padding-top: 5px;
  margin-top: -5px;
}

@media (max-width: 575px){
  .side-bar {
    display: none;
  }
}

.side-bar-link {
  background-color: #ffffff;
  height: 74px;
  margin-bottom: px;
  display: flex;
  justify-content: center;   /*  to center verticallty */
  align-items: center;  /*// to center horizontally */
  flex-direction: column; /* ^ because of column cvalue */
}

@media (max-width: 575px){
  .side-bar-link {
    display: none;
  }
}

.side-bar-link:hover {
  background-color: rgb(235, 235, 235);
  cursor: pointer;
}

.side-bar-link img {
  height: 24px;
  display: block;
  margin-bottom: 4px;
}

.side-bar-link div {
  font-size: 10px;
}